img{
        max-height: 80%;
        max-width: 80%;
        }
p {
        font-size:2.5em;
        } 
h1 {
        font-size:4.5em;
        }  
        
h2 {
        font-size:1em;
        }        
