@media (max-width: 599px) {
        body {
                font-size:0.65em;
                }
        /*
        p {
                -webkit-hyphens: auto;
                -ms-hyphens: auto;
                hyphens: auto;
                }
        h2 {
                -webkit-hyphens: auto;
                -ms-hyphens: auto;
                hyphens: auto;
                }
        */
                
}
body{
        margin: 0%;
        color: #536C8D;
        font-family: Georgia, Serif;
        font-weight: lighter;
        }
img{
        max-height: 80%;
        max-width: 80%;
        }
p {
        font-size:2.5em;
        }
.social{
        font-size:2.5em;      
        color: #4F8B89;
        font-family: 'Josefin Slab', serif;  
        }
h1 {
        font-size:10em;
        font-family: 'Unica One', cursive;
        text-align: center;
        color: #62A07B;
        }  
        
h2 {
        font-size:4em;
        color: #5C4F79;
        font-family: 'Josefin Slab', serif;
        }        
#header{
        width: 100%;
        background-color: #536C8D;
        }       
#footer{
        width: 100%;
        background-color: #536C8D;
        color: #62A07B;
        }
#details{
        margin-left: 5%;
        margin-right: 5%;
        }
a{
        color: #4F8B89;
        }
hr{
        color: #5C4F79;
        }
        

